.button {
  border: none;
  border-radius: 100%;
  padding: 1rem 1.5rem;
  font-size: 3rem;
  cursor: pointer;
}

.button:hover {
  animation: float 0.8s ease-in-out infinite;
}

.button--random {
  background-color: rgb(255, 172, 172);
}

.button--favorite {
  background-color: rgb(152, 219, 255);
}

.button:focus {
  outline: none;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}
