.list {
  width: 30rem;
  padding: 3rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
}

.list-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.list-item {
  justify-self: stretch;
  overflow: hidden;
}
